body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.3em;
  background-color: #52524b;
  font-family: "Roboto", sans-serif;
  font-size: larger;
  margin-top: 10em;
  height: 100vh;
}

button {
  width: 16em;
  height: 3.5em;
  background-color: #5d9b90;
  color: #ffffff;
  font-size: larger;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #97871c;
}

#passwordDisplay {
  width: 20em;
  height: 1.3em;
  margin-top: 20px;
}

.password-display {
  width: 20em;
  margin-top: 20px;
  padding: 10px;
  background-color: #ffffffb3;
  border-radius: 5px;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}

.password-display:not(:empty) {
  opacity: 1;
}

.password-display:empty {
  opacity: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: -30px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000080;
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
